<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="username"/>
    <add key="Password" value="password"/>
    <add key="PageLoadTimeout" value="40"/>
    <add key="Website" value="http://zero.webappsecurity.com/index.html"/>    
    <add key="Website2" value="https://devexpress.github.io/testcafe/example"/>  
  </appSettings>
</configuration>